#include <windows.h>
1 MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl+N", 100
    MENUITEM "&Open\tCtrl+O", 101
    MENUITEM SEPARATOR
    MENUITEM "E&xit", 102
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About", 200
  END
END
